.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
}

.logo{
    min-width: 50px;
    width: 50px;
}

.inputBox{
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px 15px;
    width: 150px;
}

.searchIcon{
    color:var(--colorPrimario);
    font-size: 20px;
}

.inputSearch{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: var(--colorSecundario);
    padding-left: 8px;
    font-size: 15px;
}

.profileContainer{
    display: flex;
    align-items: center;
}

.imgBox{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 100vw;
    background-color: var(--colorSecundario);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profileContainer .userName{
    font-size: 15px;
    margin-left: 8px;
    font-weight: 500;
    display: none;
}

.profileImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*CARRITO*/

.shoppingCart{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
   
}

.cartIcon{
    font-size: 30px;
    color: var(--colorSecundario);
}

.cartContent{
    width: 20px;
    height: 20px;
    background-color: var(--colorPrimario);
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: -8px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pContent{
    font-weight: 500;
    color: black;
}

.cartDropdown{
    display: none;
}

.cartDropdown button{
    background-color: var(--colorPrimario);
    padding: 5px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 10px;
}
 
.labelCart ~ input:checked ~ .cartDropdown{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px;
    font-size: 10px;
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    color: var(--colorSecundario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
} 


/*----------------------------------------*/
.toggleMenu{
    transform: rotate(90deg);    
}

.toggleIcon{
    color:var(--colorPrimario);
    font-size:30px;
}

/* --------------------- */

