.bottomMenu{
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--colorPrimario);
    border-radius: 0 0 25px 25px ;
    z-index: 101;

  }
  
  .ulBottomMenu{
    display: flex;
  }
  
  .ulBottomMenu li{
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 1;
  }
  
  .ulBottomMenu li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    text-align: center;
    font-weight: 500;
  }
  
  .divSpanIcon{
    color: var(--colorSecundario);
    position: relative;
    display: block;
    line-height: 70px;
    text-align: center;
    transition: 0.5s;
    width: 30px;
    height: 30px;
  }

  .iconsFooterContainerP{
    background-color: var(--colorSecundario);
    margin: 5px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
  }
  
  .bottomMenu ul li a .divSpanIcon .MuiSvgIcon-root{
    font-size: 26px;
    color: black;
  }
  
  .bottomMenu ul li.active a .divSpanIcon{
    transform: translateY(30px);
  }
  
  .bottomMenu ul li.active a .divSpanIcon .MuiSvgIcon-root{
    color: var(--colorPrimario);
    transition: 0.5s;
  }
  
  .bottomMenu ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(60px *0));
  }
  
  .bottomMenu ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(60px *1));
  }
  
  .bottomMenu ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(60px *1));
  }
  
  .bottomMenu ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(60px *2));
  }
  
  .bottomMenu ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(60px *3));
  }
  
  .bottomMenu ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(60px *4));
  }
 
  
  .indicator{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: var(--colorSecundario);
    border-radius: 100vw;
    bottom: -50%;
    border: 6px solid white;
    transition: 0.5s;
  }
  
  /* .indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-right-radius: 8px;
    box-shadow: 0px -10px 0 0 white;
  }
  
  .indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-left-radius: 8px;
    box-shadow: 0px -10px 0 0 white;
  } */


  .cartIcon{
    position: relative;
    
  }
  .labelIconContainer{
    display: flex;
    justify-content: right;
  }
  .labelIcon{
    position: absolute;
    top: 10px;
    background-color: black;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }

  /* 

 .shoppingCart{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
   
}

.labelCart .shoppingCart .cartIcon{
    font-size: 30px;
    color: var(--colorPrimario);
}

.cartContent{
    width: 20px;
    height: 20px;
    background-color: var(--colorPrimario);
    border-radius: 100%;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    border: 1px solid black;
    top: -8px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

