/*CART ITEM*/
.cartItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--colorPrimario);
    text-transform: capitalize;
}

.cartItemContainer img{
    width: 50px;
    filter: drop-shadow(3px 3px 2px white);
}

.cartItemContainer h2{
    font-size: 12px;
    max-width: 100px;
    text-align: center;
}

.cartItemDetails{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    width: 100px;
    align-items: center;
    margin: 5px;
    flex-direction: column;
}



.cartItemContainer .cartItemDetails .cartItemButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnDecrement, 
.cartItemContainer .cartItemDetails .cartItemButtons .btnIncrement{
    background-color: var(--colorSecundario);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 5px;
    border-radius: 8px;
    border: none;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnIncrement .MuiSvgIcon-root, 
.cartItemContainer .cartItemDetails .cartItemButtons .btnDecrement .MuiSvgIcon-root{
    color: var(--colorPrimario);
    width: 15px;
    height: 15px;
    margin: 2px;
}

.btnRemoveContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnRemoveCart {
    background-color: unset;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnRemoveCart .MuiSvgIcon-root{
    color: var(--colorPrimario);
    width: 25px;
    height: 25px;
}

.quantity{
    font-weight: bold;
    font-size: 12px;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnDecrement:disabled, 
.cartItemContainer .cartItemDetails .cartItemButtons .btnIncrement:disabled{
    background-color: var(--colorPrimario);
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnDecrement:disabled .MuiSvgIcon-root, 
.cartItemContainer .cartItemDetails .cartItemButtons .btnIncrement:disabled .MuiSvgIcon-root{
    color: var(--colorSecundario);
} 