/*CART ITEM*/
.cartItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--colorPrimario);
    text-transform: capitalize;
    width: 100%;
}

.cartItemContainer img{
    width: 60px;
    height: 60px;
    filter: drop-shadow(3px 3px 2px white);
}

.cartItemContainer h2{
    font-size: 12px;
    text-align: center;
}

.cartItemDetails{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    text-align: center;
    width: 200px;
}



.cartItemContainer .cartItemDetails .cartItemButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnDecrement, 
.cartItemContainer .cartItemDetails .cartItemButtons .btnIncrement{
    background-color: var(--colorSecundario);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
    border-radius: 8px;
    border: none;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnIncrement .MuiSvgIcon-root, .cartItemContainer .cartItemDetails .cartItemButtons .btnDecrement .MuiSvgIcon-root{
    color: black;
    width: 15px;
    height: 15px;
    margin: 2px;
}

.btnRemoveContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnRemoveCart {
    background-color: unset;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnRemoveCart .MuiSvgIcon-root{
    color: var(--colorPrimario);
    width: 25px;
    height: 25px;
}

.quantity{
    font-weight: bold;
    font-size: 12px;
}

.cartItemContainer .cartItemDetails .cartItemButtons .btnDecrement:disabled, 
.cartItemContainer .cartItemDetails .cartItemButtons .btnIncrement:disabled{
    background-color: var(--colorPrimario);
}

.footerCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footerCarrito p{
    font-size: 15px;
}

 .btnBorrarCarrito, .btnFinalizarCompra{
    background-color: var(--colorPrimario);
    padding: 5px 8px 5px 8px;
    width: 110px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    
}
.buttonsFooterCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    padding: 0 30px 0 30px;
}

.btnBorrarCarrito:hover, .btnFinalizarCompra:hover{
    background-color: black;
    color: var(--colorPrimario);
}

