.redesContainer{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 8px 25px 8px 25px;
    bottom: 0;
    position: fixed;
    background-color: var(--colorSecundario);
    border-radius: 25px 25px 0 0 ;
}
.instagram .MuiSvgIcon-root, .whatsapp .MuiSvgIcon-root{
    width: 20px;
    height: 20px;
}

.instagramContainer, .whatsappContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.instagramContainer p, .whatsappContainer p{
    font-size: 12px;
    font-weight: bold;
}

.instagramContainer p:hover, .whatsappContainer p:hover{
    color: var(--colorPrimario);
    transition: 0.5s;
}

.instagram, .whatsapp{
    background-color: var(--colorPrimario);
    border-radius: 5px;
    padding: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: black;
}

.instagram:hover, .whatsapp:hover{
    color: var(--colorSecundario);
}