.verTodosContainer {
  display: flex;
  justify-content: end;
  font-size: 12px;
  align-items: center;
  color: black;
}

.verTodosContainer .MuiSvgIcon-root {
  color: var(--colorPrimario);
  display: flex;
  justify-content: center;
  align-items: center;
}



.selectContainer {
  width: 100vw;
  display: flex;
  justify-content: left;
}

.selectContainer label{
    margin-left: 10px;
}
.selectGender {
  font-family: "Poppins";
  padding: 5px;
  border: none;
  background-color: var(--colorPrimario);
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}